body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    transition: font-size 0.3s ease;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

section {
    padding: 20px 0;
}

section h2 {
    color: #2c3e50;
    font-size: 2em;
}

.job,
.project,
.publication {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.job:hover,
.project:hover,
.publication:hover {
    transform: scale(1.02);
}

.job h3,
.project h3,
.publication h3 {
    color: #3498db;
    font-size: 1.5em;
}

.job p,
.project p,
.publication p {
    color: #555;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    nav a {
        font-size: 0.9em;
    }

    section h2 {
        font-size: 1.8em;
    }

    .job h3,
    .project h3,
    .publication h3 {
        font-size: 1.2em;
    }

    footer {
        font-size: 0.8em;
    }
}
